@import 'assets/styles/vars.scss';

// /. imports

.table {
    padding-bottom: 30px;
    background-color: $white-color;
    border-radius: 32px;

    .ant-table-empty {
        .ant-table-thead .ant-table-cell {
            pointer-events: none;
        }

        .ant-table-body {

            table {
                height: 100%;
            }
        }

        .ant-table-placeholder .ant-table-cell {
            border-bottom: none !important;
            border-inline-end: none !important;

            .ant-table-expanded-row-fixed {
                border-inline-end: none !important;
            }
        }
    }

    .ant-table-body {

        height: 430px;

        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $gray-color;
            border-radius: 4px;
        }
    }

    tr>th.ant-table-cell {
        color: $turquoise-color;
        border-bottom: 2px solid $cultured-color !important;
        border-inline-end: 2px solid $cultured-color !important;
    }

    tr {
        &:nth-child(odd) {
            td {
                &:nth-child(n+3) {
                    background-color: $bubbles-color;
                }
            }
        }

        td {
            &:hover {
                color: $turquoise-color;
                cursor: default;
            }
        }
    }

    td.ant-table-cell {
        color: $auroMetalSaurus-color;
        border-bottom: 2px solid $cultured-color !important;
        border-inline-end: 2px solid $cultured-color !important;
        padding: 13px 8px !important;
    }

    .ant-spin.ant-spin-spinning {
        max-height: none;
    }
}

.cell-content {
    background-color: transparent;
    transition: all .25s ease-in-out;
}

.cell-content.ok {
    color: $auroMetalSaurus-color;
    background-color: transparent;
}

.cell-content.bad {
    color: $white-color;
    background-color: $fieryRose-color;
    padding: 5px;
    border-radius: 4px;
}

.cell-content.cooming {
    color: $fieryRose-color;
    background-color: transparent;
}