.pagination {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;

    .ant-pagination-total-text {
        flex: 1 1 auto;
    }

    .ant-pagination-options {
        flex: 1 0 auto;
        display: flex;
        justify-content: flex-end;
    }
}

.ant-select-selector .ant-select-selection-item {
    font-weight: 700;
}