$turquoise-color: #54D3C2;
$auroMetalSaurus-color: #6D7986;
$bubbles-color: #E5F8F6;
$cultured-color: #F8F8F8;
$white-color: #FFF;
$charcoal-color: #323F47;
$brightGray-color: #EEEEEE;
$fieryRose-color: #FC5C65;
$gray-color: #B6BCC3;
$lightGray-color: #D2D1D1;