@import './reset';
@import './vars';

// /. imports

html {
    font-size: 14px;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', sans-serif;
    font-size: inherit;
    font-weight: 600;
    color: $charcoal-color;
    background-color: $cultured-color;
    height: 100%;
}

#root,
.App,
.page {
    height: 100%;
}

// /. general-styles

.page {
    background-color: $white-color;
    border-radius: 56px;

    &__title {
        font-size: 28px;
        font-weight: 800;
        color: $charcoal-color;
        margin: 0 0 20px 0;
    }
}

.search-section {
    margin-bottom: 65px;
    padding: 38px 34px;
    background-color: $white-color;
    border-radius: 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__group {
        display: flex;
        margin-right: 20px;
    }

    &__info {
        display: flex;
        align-items: center;
        margin-right: 40px;
    }

    &__counter {
        margin-right: 10px;
        font-size: 28px;
        font-weight: 600;
        color: $turquoise-color;
    }

    &__text {
        font-size: 12px;
        font-weight: 600;
        color: $auroMetalSaurus-color;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__button {
        font-size: 16px;
        font-weight: 600;
        color: $turquoise-color;
        border: 1.5px solid $turquoise-color;
        border-radius: 24px;
        text-align: center;
        background-color: $white-color;
        padding: 14px 10px;
        max-width: max-content;
        width: 100%;
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    &__button.active {
        background-color: $turquoise-color;
        color: $white-color;
    }
}

.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 40px 57px 40px;
        gap: 40px
    }

    &__navigation {
        .nav-list {
            max-width: calc(100vw - 700px);
        }
    }

    &__profile {
        flex: 0 0 360px;
    }
}

.main {
    background-color: $cultured-color;
    padding: 20px 40px;
    border-radius: 56px;
}

.scroll {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    cursor: grab;

    &::-webkit-scrollbar {
        background-color: transparent;
        height: 5px;
        width: 0;
    }
}